#container{ /*id: só pode ser usado 1x na página*/
    display: flex;
    justify-content: space-around;
    margin: 30px;
    padding: 5%;
    background-color: rgb(49, 160, 45);
}
.caixa{ /*class pode ser usado várias vezes na página*/
    width: 300px;
    background-color: darksalmon;
    color: rgb(90, 20, 255);
    padding: 15%;
    border-radius: 10px;
    text-align: center;

}
img{ /*tag: e´o controlr da tag do html*/
    max-width: 55%;
    max-height: 55%;
    width: auto;
    height: auto;
}