#container{
    display: flex;
    justify-content: space-around;
    margin: 30px;
    padding: 5%;
    background-color: fuchsia;
}
.box{
    width: 300px;
    background-color: darksalmon;
    color: deeppink;
    padding: 15%;
    border-radius: 10px;
    text-align: center;
}