#container{
    display: flex;
    justify-content: space-around;
    margin: top 30px;
    padding: 5%;
    background-color: rgb(31, 110, 7);
}
.box{
    width: 300px;
    background-color: chocolate;
    color: rgb(214, 111, 188);
    padding: 15%;
    border-radius: 10px;
    text-align: center;
}